:root {
  --clr-red: #c41925;
  --clr-red-hover: red;
  --clr-darkred: darkred;
  --clr-bg: #1e1e1e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  .custom-navbar {
    background-color: var(--clr-bg) !important;
  }
  .how-section1 {
    background-color: var(--clr-bg);
    margin-top: -15%;
    padding: 10%;
    h4 {
      color: var(--clr-red);
      font-weight: bold;
      font-size: 13px;
    }
    h1 {
      color: white;
      font-weight: bold;
      font-size: 30px;
    }
    .subheading {
      color: var(--clr-bg);
      font-size: 20px;
    }
    .row {
      margin-top: 10%;
    }
    .how-img {
      text-align: center;
      .person_img {
        width: 40%;
      }
    }
    button {
      background-color: var(--clr-red);
    }
    button:hover {
      background-color: var(--clr-red-hover);
    }
  }
  .half-color {
    background: linear-gradient(to right, #3b3b3b 50%, var(--clr-bg) 50%);
  }

  .cards {
    width: 75%;
    .three-card {
      background: linear-gradient(to right, #3b3b3b 50%, var(--clr-bg) 50%);
      .test {
        display: flex;
        justify-content: center;
        align-items: center;
        .three-cards {
          .project {
            .img-h {
              width: 20%;
              height: 20%;
            }
          }
          .card1:hover {
            box-shadow: 0 0 50px var(--clr-darkred);
            background-color: var(--clr-darkred) !important;
          }
          .card2:hover {
            // box-shadow: 0 0 50px var(--clr-darkred);
            // background-color: var(--clr-darkred) !important;
          }
          .card3:hover {
            box-shadow: 0 0 50px var(--clr-darkred);
            background-color: var(--clr-darkred) !important;
          }
        }
      }
    }
  }

  .project2 {
    background-color: black;
    color: var(--clr-red);
  }

  .six-cards {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--clr-bg);
    .card-inner {
      padding: 10px;
    }
    .header {
      margin-bottom: 5px;
      h2 {
        margin-bottom: 0px;
        margin-top: 0px;
        color: var(--clr-red);
      }
    }
  }
  .six-cards:hover {
    background-color: var(--clr-darkred);
  }

  .feature-projects {
    width: 75%;
    background-color: #181818 !important;
    button {
      background-color: var(--clr-red);
    }

    button:hover {
      background-color: var(--clr-red-hover);
    }
  }

  .feat-four-pjs {
    width: 75%;
    .four-cards {
      background-color: #181818;
      .card-center {
        background-color: var(--clr-bg);
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .colour {
        background-color: var(--clr-bg) !important;
      }
      .colour:hover {
        box-shadow: 0 0 80px rgb(83, 3, 3);
      }
    }
  }

  .together-width {
    width: 75%;
    .together {
      button {
        background-color: var(--clr-red);
        margin-left: 350px;
      }
      button:hover {
        background-color: var(--clr-red-hover);
      }
    }
  }
}

// mobile
@media (max-width: 768px) {
  .main {
    .how-section1 {
      button {
        background-color: var(--clr-red);
        margin-left: 88px;
      }
    }
    .cards {
      width: 85%;
    }
    .feature-projects {
      .btn-center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .feat-four-pjs {
      width: 100%;
    }
    .together-width {
      .together {
        width: 100%;
        button {
          margin: auto;
        }
      }
    }
  }
}
//ipad
@media (min-width: 992px) {
  .main {
    .together-width {
      .together {
        button {
          margin-left: auto;
        }
      }
    }
  }
}
